# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = onno
	email = ovdsteen@gmail.com
[core]
	autocrlf = input
  excludesfile = /Users/onno/.dotfiles/.gitignore
[push]
  autoSetupRemote = true
